@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(45deg, #210060, #030072, #0062ff);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  font-size: 56px;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  font-size: 48px;
  font-weight: 700;
}

input {
  width: 265px;
  height: 34px;
  background-color: #dddddd;
  border-radius: 8px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  line-height: 110%;
  font-size: 40px;
  font-weight: 700;
}

h5 {
  font-family: "Montserrat", sans-serif;
  line-height: 110%;
  font-size: 32px;
  font-weight: 700;
}

h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  font-size: 24px;
  font-weight: 700;
}

.label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
